.container {
    display: flex;
    flex-direction: column; /* Adicione essa linha para alinhar verticalmente os elementos */
    /* justify-content:  ; */
    align-items: center;
    height: 100vh;
    border: 1px solid black
  }

.board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    background-color: #eee;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cell {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Adicione estilos para os links das células */
  .cell-link {
    text-decoration: none;
    display: inline-block;
    width: 50px;
    height: 50px;
  }

  
  .cell.piece {
    background-color: #f00;
    border-radius: 50%;
  }
  
  /* Estilo para as células pretas */
  .cell.piece:nth-child(odd) {
    background-color: #333;
  }

  h2 {
    margin-bottom: 20px; /* Adicione um espaçamento abaixo do título */
  }