
.peca {
    font-size: 36px;
    line-height: 1;
    display: inline-block;
  }
  
  /* Estilos para peças brancas */
  .branco .peca {
    color: white;
  }
  
  /* Estilos para peças pretas */
  .preto .peca {
    color: black;
  }
  
  /* Estilos para damas brancas */
  .damaBranca .peca {
    color: #f0d9b5;
    font-size: 42px;
  }
  
  /* Estilos para damas pretas */
  .damaPreta .peca {
    color: #b58863;
    font-size: 42px;
  }